.menu-item {
  background-color: #d3d3d3;
  padding: 20px;
  min-height: 1000px;
}

/* Force mobile dropdown menu full width */
.navbar-nav > li > a {
  border: 1px solid #000;   /* black line like in mockup */
}

/* Default (desktop/tablet)
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
*/

/* Mobile adjustments */
@media (max-width: 600px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}


